<div class=row>
	<div class="col-md-12 text-center">
		<form class="form-horizontal" role="form">
			<h3>League</h3>
			<div class="form-group">
				<label for="leagueId" class="col-md-2 control-label">leagueId</label>
				<div class="col-md-8">
					<input class="form-control" id="leagueId" placeholder="leagueId">
				</div>
			</div>
			<div class="form-group">
				<label for="leagueName" class="col-md-2 control-label">leagueName</label>
				<div class="col-md-8">
					<input class="form-control" id="leagueName" placeholder="leagueName">
				</div>
			</div>
			<div class="form-group">
				<label for="sportId" class="col-md-2 control-label">sportId</label>
				<div class="col-md-8">
					<input class="form-control" id="sportId" placeholder="sportId">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="addLeague" class="btn btn-primary">Add League</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>Sport Name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="sportList"></tbody>
		</table>
	</div>
</div>