<div class=row>
	<h3>Add Team</h3>
	<div class="col-md-12 text-center">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="teamName" class="col-md-2 control-label">Team
					Name</label>
				<div class="col-md-8">
					<input class="form-control" id="teamName" placeholder="Team Name">
				</div>
			</div>
			<div class="form-group">
				<label for="teamName" class="col-md-2 control-label">Team
					Name</label>
				<div class="col-md-8">
					<input class="form-control" id="teamName" placeholder="Team Name">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Save Team</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-center"></div>
</div>