<div class="row">
	<div class="col-xs-12 col-md-10">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>Home vs Away</h3>
				<p class="lead">1 - 1</p>
				<p>Apr 28, 2014. Place. Referee: Antonio Damato.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="row">
					<div class="col-xs-5 col-md-5 text-center">
						<h3 id="localName">Home</h3>
						<p>
							<img src="http://placehold.it/150x150">
						</p>
						<h3>1</h3>
					</div>
					<div class="col-xs-1 col-md-1 text-center"></div>
					<div class="col-xs-5 col-md-5 text-center">
						<h3 id="localName">Away</h3>
						<p>
							<img src="http://placehold.it/150x150">
						</p>
						<h3>1</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Events</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Zaza - Goal - Assist by Sansone</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td class="text-right">Marchisio - Goal - Assist by Pirlo</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row visible-sm">
			<div class="col-xs-12 text-center">
				<img src="http://placehold.it/728x90">
			</div>
		</div>
		<div class="row visible-xs">
			<div class="col-xs-12 text-center">
				<img src="http://placehold.it/468x60">
			</div>
		</div>
	</div>
	<div class="col-md-2 visible-md visible-lg">
		<img src="http://placehold.it/120x601">
	</div>
</div>